acme==2.6.0
attrs==20.3.0
awscli==1.38.38
awscrt==0.23.8
Babel==2.9.1
blinker==1.8.2
boto3==1.37.38
certbot==2.6.0
certbot-nginx==2.6.0
cffi==1.14.5
chardet==4.0.0
chevron==0.13.1
click==8.1.8
colorama==0.4.4
ConfigArgParse==1.7
configobj==5.0.6
cryptography==36.0.1
distro==1.5.0
Flask==3.0.3
git-filter-repo==2.47.0
gunicorn==23.0.0
idna==2.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==0.10.0
josepy==1.13.0
jsonpatch==1.21
jsonpointer==2.0
jsonschema==3.2.0
libcomps==0.1.20.post1
lockfile==0.12.2
MarkupSafe==2.1.5
netifaces==0.10.6
oauthlib==3.0.2
packaging==24.2
parsedatetime==2.6
ply==3.11
prettytable==0.7.2
prompt-toolkit==3.0.24
pycparser==2.20
PyMySQL==1.1.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.17.3
pyserial==3.4
PySocks==1.7.1
python-daemon==2.3.0
python-dateutil==2.8.1
python-dotenv==1.0.1
pytz==2022.7.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==2.0.0
rpm==0.0.1
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
selinux==0.1.0
setools==1.2.0
six==1.15.0
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==3.0.6
zipp==3.20.2
